/* ----------------------------------body */
body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color:#fafafa;
    
}

/*----------------------------------- navbar */
.navbar-container{
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.5);
}

/*-----------------------------------Btn */

.btn-custom{
    color:#fafafa;
    border-radius: 20%;
    font-weight: 500;
    background-color: #BB0A21;
}
.btn-custom:hover{
    background: #7a0111;
}
.btn-custom-trainer{
    color:#BB0A21;
    background-color: #fafafa;
    font-weight: 500;
}

/*----------------------------------- container */
.callout-container {
    height: 100vh;

    background: url('../images/gym-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--red {
    background-color: #BB0A21;
}
/*----------------------------------- Jumbotron */

.jumbotron {
    background: transparent;
}
.jumbotron-custom{
    color:#BB0A21;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
}
.jumbotron-custom-heading{
    margin-top: 15px;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #BB0A21;
}

/*-- carousel -- */
.lead{
    font-weight: 700;
    color:#BB0A21;
}
.lead-custom{
    background-color: #BB0A21;
    color:#fafafa;
    letter-spacing: 2px;
    font-size: 32px;
}


/*-- Custom -- */
.unstlyed-list{
    list-style-type: none;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
}

#display-custom{
    overflow: hidden;
    resize: none;
    max-width: 100%;
    width: 650px;
    height: 500px;
    padding: 9px;
}


.container-callout-custom{
    height: 100vh;

    background: url('../images/fac-callout.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.container-custom-time{
    background-color: #BB0A21;
    color:#fafafa;
    text-align: center;
}

.jumbotron-custom-header {
    color:#BB0A21;
    font-weight:700;    
}

.block-custom{
    color:#BB0A21;
    font-weight:700;;
}
.container-callout-membership{
      height: 100vh;

    background: url('../images/membership.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
/* footer */

li{
    color:#fafafa;
}

/* img */

.img-fluid{
    height: 500px;
    width: 780px;
    padding: 2em;
    border: solid 3px #fafafa;

}

/* contact */

#name{
    width: 300px;
}
#email{
    width: 300px;
}
#age{
    width: 300px;
}
#contact-info{
    width: 300px;
}
#comments{
    width: 300px;
    height: 150px;
}

.container-custom-contact{
    background-color: #BB0A21;
}

.jumbotron-custom-contact{
    background-color: #BB0A21;
    text-align: center;
    border: 2px solid #000000;
    font-size: 32px;
}
.container-callout-contact{
    height: 100vh;

    background: url('../images/contact.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* trainer */

.container-callout-trainer{
    height: 100vh;

    background: url('../images/trainer-dream.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.img-custom{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}
.container-fluid-tony{
    background-color:#BB0A21;
    color:#000000;
    font-weight: 500;
    font-size: 24px;
}

.container-fluid-allan{
    background-color: #000000;
    color:#BB0A21;
    font-weight: 500;
    font-size: 24px;
}
.container-fluid-mikko{
    background-color:#BB0A21;
    color:#000000;
    font-weight: 500;
    font-size: 24px;
}


/* modal */

.modal{
    color:#000000;
}

.modal-custom{

color:#fafafa;
background-color: #000000;
}

/* membership */

.pt-3{
    border: solid 3px #BB0A21;
}
