/* ----------------------------------body */
body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color:#fafafa;
    
}

/*----------------------------------- navbar */
.navbar-container{
    position:absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.navbar{
    padding:0;
    margin:0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/*-----------------------------------Btn */

.btn{
    color:#fafafa;
    border-radius: 20%;
    font-weight: 500;
    background-color: #BB0A21;
}

/*----------------------------------- container */
.callout-container {
    height: 100vh;

    background: url('../images/gym-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.about-container{
    padding:0;
    margin: 0;
    color:#fafafa;
}
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--red {
    background-color: #BB0A21;
}
/*----------------------------------- Jumbotron */

.jumbotron{
    background: transparent;
}

.jumbotron-header {
    color:#BB0A21;
    font-weight:700;    
}

.block{
    color:#BB0A21;
    font-weight:700;
    padding-left: 2rem;
}
/*----------------------------------- lead */

.lead{
    color:#f7f5f5;
    font-weight: 600;
}

strong{
    color:#fafafa;
    background-color: #BB0A21;
}

/*----------------------------------- paragraphs */

.inline-block{
    text-align:center;
    margin:0;
    padding: 2rem;
    border: 0;
    height: 300px;
    width: 500px;
}

/*----------------------------------- image */

.inline{
    display:flex;
}
/* .row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
} */

/*----------------------------------- carousel */
#carouselExampleSlidesOnly{
    width:50%!important;
}


.interactive-container{
    width: auto;
    height: auto;
}