/* ----------------------------------body */
body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color:#fafafa;
    
}

/*----------------------------------- navbar */
.navbar-container{
    position:absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/*-----------------------------------Btn */

.btn-custom{
    color:#fafafa;
    border-radius: 20%;
    font-weight: 500;
    background-color: #BB0A21;
}
.btn-custom:hover{
    background: #7a0111;
}

/*----------------------------------- container */
.callout-container {
    height: 100vh;

    background: url('../images/gym-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--red {
    background-color: #BB0A21;
}
/*----------------------------------- Jumbotron */

.jumbotron {
    background: transparent;
}
.jumbotron-custom{
    color:#BB0A21;
    font-weight: 700;
}

/*-- carousel -- */
.lead{
    font-weight: 700;
    color:#BB0A21;
}
.lead .lead-custom{
    background-color: #BB0A21;
    color:#fafafa;
}


/*-- Custom -- */

.container-callout-custom{
    height: 100vh;

    background: url('../images/fac-callout.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.container-custom-time{
    background-color: #BB0A21;
    color:#fafafa;
    text-align: center;
}

.jumbotron-custom-header {
    color:#BB0A21;
    font-weight:700;    
}

.block-custom{
    color:#BB0A21;
    font-weight:700;;
}

.table-custom{
    height: 100vh;

    background: url('../images/gym-image3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    font-size:18px;
}

/* footer */

li{
    color:#fafafa;
}

/* img */

.img-fluid{
    height:400px;
    width:500px;
}